@font-face {
    font-family: "myFont";

    src: url(../../Downloads/fonts/Norse-Bold.otf);
}

* {
  box-sizing: border-box;  
  font-family: sans-serif;
}

body{
    margin: 0 auto;
    padding: 0;
    min-height: 100dvh;
    max-width: 100vw;
    
}

body {
    display: flex;

}

body div:first-of-type{
    width: max(35vw,300px);
}


.left-half {
    background-image: url(./images/denny-muller-x1-KU_WwJyM-unsplash.jpg);

    background-size: cover;
}
.logo {
    width: auto;
    height: 8rem;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;

}

.left-half h1 {
    color: rgba(255, 255, 255, 0.9);
    font-size: 4rem;
    font-family: "myFont", sans-serif;
}


img{
    width: 5rem;
    height: auto;
    opacity: .9;
}
.right-half {
    margin-top: 0;
    padding: 0;
    width: 100%;
}

.form {
    background-color:white;
    max-width: 700px;
}

.right-half header{
    background-color: rgba(252, 249, 249, .9);
    margin-bottom: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 6px rgba(95, 95, 95, 0.1);

}

.right-half header > div {
    width: 75ch;
}

.right-half header h2 {
    padding-left: 2rem;
    width: inherit;
    font-size: 1.3em;
    font-weight: 600;
}
.right-half header h2:first-of-type{
margin: 0;
    padding-top: 4rem ;

}
.right-half header h2:last-of-type {
    padding-bottom: 1rem;
}
form h2 {
    margin-left: 2rem;
    font-size: 1.4em;
    margin-bottom: 0;
}

.top-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 2rem;
    margin-right: 5rem;
    gap: 9px;
    flex-wrap: wrap;

}
.left-form {
    margin-right:2rem;
}

.left-form,
.right-form {
    flex:1
}

.submit {
    background-color:rgba(252, 249, 249, .9);
    width: 65vw;
    height: 25vh;
    padding-left: 2rem;
    padding-top: .5rem ;
    margin-top: 1rem;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
}

.submit button {
    padding: .8rem 1.6rem;
    font-family: sans-serif;
    font-weight: 900;
    background-color: rgb(163, 117, 58);
    color: white;
    border: none;
    border-radius: 6px;
    
}
.submit a {
    text-decoration: none;
    font-weight: 700;
    color: rgb(163, 117, 58);
}

label {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 2px;
}

input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    height: 2em;
}

input:focus{
    outline: none;
    border-color: blue ;
    box-shadow: 0px  4px 5px rgba(0, 0, 0, 0.2)
}