* {
  box-sizing: border-box;  
}

body{
    margin: 0;
    padding: 0;
    min-height: 100dvh;
}

body {
    display: flex;

}

body div:first-of-type{
    width: max(35vw,300px);
}

body div:nth-child(2) {
    width: max(65vw,400px);
}

.left-half {
    background-image: url(./images/denny-muller-x1-KU_WwJyM-unsplash.jpg);

    background-size: cover;
}
.logo {
    width: auto;
    height: 8rem;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;

}

.left-half h1 {
    color: rgba(255, 255, 255, 0.9);
    font-size: 4rem;
}


img{
    width: 5rem;
    height: auto;
    opacity: .9;
}